body {
    background-image: url("https://store-images.s-microsoft.com/image/apps.62394.70702278257994163.1152c6f1-f586-40eb-a61e-0f8bad1ee621.3a22a885-cb53-41a8-b9e6-0bc4053a9bac");
}

nav {
    background-color: #232323aa;
    backdrop-filter: blur(8px);
    padding: 20px;
}

a {
    color: #fff;

}